.header{
    width: 100%;
    height: 110px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
}
body, html{
    background: #F7F7F7;
}
.nav{
    font-size: 16px;
}
.navbar{
    display: flex;
    /* justify-content: space-around;
    align-items: center; */
    flex-wrap: wrap;
}
.navbar li{
    padding-right: 23px;
    line-height: 23.12px;
}
.navbar li:nth-child(1) a{
    color: #E21A43;
    font-weight: bold;
}
.menubar{
    width: 400px;
    display: flex;
    justify-content: space-between;
}
.search{
    position: relative;
}
.search input{
    width: 250px;
    height: 30px;
    background: rgba(226, 26, 67, 0.1);
    padding: 25px;
    /* border: none; */

}
.search i{
    /* width: 10px;
    height: 10px; */
    padding: 17px;
    background-color: #E21A43;
    position: absolute;
    right: 0;
}
.profile, .buy{
    padding: 17px;
    background-color: rgba(226, 26, 67, 0.1) ;
    
}
.profile i, .buy i{
    color: #E21A43;
}
/* -------------- */

.new-product{
    width: 100%;
    height: 755px;
    background: #F7F7F7;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* padding: 0 100px; */
}
.banner{
    background-color: white;
    padding: 10px;
}
.new-product .banner{
    display: flex;
    flex-direction: column;
}
.new-product .banner span{
    padding: 30px;
    text-align: center;
    font-size: 32px;
}
.new-product .banner button{
    width: 130px;
    height: 50px;
    margin-left: 65px;
    background: rgba(226, 26, 67, 0.1);
}

.new-products{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
    padding-bottom: 30px;
}

.new-products .products-title{
    font-size: 24px;
    padding-bottom: 160px;
}
.new-products .products{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}
.new-products .product{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 10px;
    background-color: white;
}
.product .about-product{
    margin: 25px 0;
}
.product .product-title {
    /* margin: px 0; */
    font-size: 18px;
}
.product .product-price{
    font-size: 24px;
    padding-top: 15px ;
}
 .old-price{
    text-decoration: line-through;
}
.product .rectangle{
    position: absolute;
    background-color: white;
    top: 215px;
    font-size: 18px;
}
/* ------------- */

.fresh-beef{
    width: 100%;
    height: 390px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 50px ;
}
.fresh-beef .beef-imgs{
    width: 23%;
    height: 300px;
    position: relative;
    transform: rotate(0deg);
    margin-top: 200px;
}

.fresh-beef img{
    width: 330px;
    height: 330px;
    /* transform: rotate(45deg); */
    position: absolute;
}
.fresh-beef img:nth-child(1){
    left: 8px;
    bottom: 80px;
}
.fresh-beef img:nth-child(2){
    right: -36px;
    bottom: 80px;
}
.fresh-beef img:nth-child(3){
    left: 110px;
    bottom: -25px;
}
.fresh-beef .img-small{
    width: 200px;
    height: 200px;
    height: auto;
    position: absolute;
    top: 210px;
    left: 130px;
    background-color: #E21A43;
}
.fresh-beef .img-small img{
    width: 70px;
    height: 70px;

}
.beef-imgs .img-small-title{
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    font-size: 10px;
}

.fresh-beef .about-beef{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}
.fresh-beef .about-beef h2{
    font-size: 60px;  
    word-wrap: break-word;
}
.fresh-beef .about-beef p{
    font-size: 30px;
    display: block;
    margin: 30px 0;
}
.fresh-beef .about-beef button{
    width: 150px;
    height: 50px;
    background-color: white;
    
    /* border: 2px solid rgba(226, 26, 67, 0.1); */

}
.fresh-beef .about-beef button strong{
    color: rgba(226, 26, 67, 1);
}

/* ------------- */
.best-products{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* height: 550px; */
    background: #F7F7F7;

}
.best-products h2{
    font-size: 24px;
    padding:  10px 0;
    padding: 30px 0;

}


.best-products .product-lists{
    display: flex;
    flex-direction: row;
}
.best-products .product-lists li{
    font-size: 16px;
    margin-left: 20px;
}
.best-products .product-lists li:hover{
    color: #E21A43;
    border-bottom: 1px solid #E21A43;
}
.sell-products{
    display: flex;
}
.best-sell-product{
    width: 290px;
    height: 400px;
    padding: 20px;
    margin: 20px;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    background-color: white;
}
.best-sell-product img{
    width: 250px;
    height: 270px;
}
.best-sell-product h3{
    padding: 15px 0;
}
/* --------- */

.fresh-food{
    width: 1400px;
    height: 540px;
    display: flex;
    /* border: 2px solid rgba(226, 26, 67, 0.1); */
    padding: 50px;

}
.fresh-img{
    flex: 1;
}
.fresh-img img{
    width: 570px ;
    height: 430px;
}

.container{
    margin: 0 200px;
}
.fresh-content{
    height: 100%;
    
    width: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    /* border: 2px solid rgba(226, 26, 67, 0.1); */

}
.fresh-content h2{
    font-size: 54px;
    line-height: 76px;
}
.fresh-content p{
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 14px;
}

.fresh-active span{
    margin-left: 10px;
}
.fresh-active span i{
    margin: 4px;
}
.button{
    padding:20px 24px ;
    /* border: 2px solid rgba(226, 26, 67, 0.1); */
    color: #E21A43;
    font-weight: bold;
}
.sellers{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.seller{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.seller-container{
    width: 100% !important;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px ;

}
.seller-content{
    display: flex;
    width: 270px;
    height: 139px;
    background-color: white;
    padding: 10px;
    margin: 5px;
}
.seller-text{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 7px;
}
.phones{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 40px 0;
    background-color: white;
    padding: 30px 0;

}
.phone{
    width: 100% !important;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.phone-content{
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.phone-content h2{
    font-size: 48px;
    line-height: 70px;
}
.phone-content p{
    margin: 20px 0 40px 0;
    font-size: 16px;
    line-height: 24px;
}
/* .beef-imgs {
    margin-top: 200px;
    margin-left: 100px;
    width: 150px;
    height: 150px;
    border-radius: 5px;
    overflow: hidden;
    display: inline-block;
    transform: rotate(45deg);
}

.beef-imgs img{
    width: 100%;
    height: 100%;
    transform: rotate(-45deg) scale(1.4);
} */
.button-seller{
    width: 100px;
    padding:  5px;
    border: #E21A43 solid 1px;
    border-radius: 5%;
}